* {
    /* outline: 1px solid; */
}

body{
    background-image: url(./img/bg-body.jpg)
}
.container{
    background-color: #326611;
}

img{
    height:auto;
}
.banner_text{
    background-color:rgba(0, 0, 0, 0.2);

}
.navbar{
    flex-wrap: wrap;
}
.product_wrap{
    display: flex;
}



